<div class="content">
  <div class="title content-data">
    <span>PokerShmoker</span>
  </div>
  <div class="menu content-data">
    <div class="menu-title"><span>ИГРА/ТУРНИР</span></div>
    <div class="menu-list">
      <ul>
        <li><a href="http://localhost:4200/game-settings">Игра</a></li>
        <li><a href="">Турнир</a></li>
        <li><a href="http://localhost:4200/rounds">Раунды</a></li>
        <li><a href="">Игроки</a></li>
        <li><a href="" >Столы</a></li>
        <li><a href="http://localhost:4200/data-base">База данных</a></li>
      </ul>
    </div>
    <div class="menu-button">
      <button type="button" class="btn btn-success">Начать игру</button>
    </div>
  </div>
  <div class="translation content-data">
    <div class="translation-title">ТРАНСЛЯЦИЯ</div>
    <div><span>Отображение</span></div>
    <div class="translation-button">
      <button type="button" class="btn btn-translation">Начать показ</button>
    </div>
  </div>
</div>
