@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic,cyrillic-ext');
.content{
    width: 100%;
}
.side-bar{
    width: 24%;
    max-width: 300px;
    background: #2F3436;
}
.data-content{
    min-width: 75%;
}
@media(width:1920px){
    .side-bar{
        width: 300px;
    }
    .data-content{
        width:90%;
    }
}
