@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic,cyrillic-ext');

.player-info,.payment_enable{
    display: flex;
}
.player-info{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 950px;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 14px;
    border-top: 1px solid #F1F1F1;
    
}
.player-info:hover{
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;    
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); 
}
.player-info_name{
    font-weight: 500;
    width: 320px;
    padding-left: 30px;   
}
.player-info_age{
    margin-left: 40px;
    margin-right: 120px;
    color: #202124;
    opacity: 0.5;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.player-info_payment{
    letter-spacing: 0.03em;
    font-weight: 500;
    color: #202124;
    margin-right: 102px;
}
.player-info_data{
    width:210px;
}
.player-info_data-disable{
    width:382px;
}
.player-info_payment-enable::before{
 content: url(enable_payment.svg);
}
.player-info_payment-disable::before{
    content: url(disale_payment.svg);
}
.player-info_payment-enable::before,.player-info_payment-disable::before{
    padding-right: 4px;
}

.player-change-button::before{
    content: url(player-change-button.svg);
}
