
<div class="game-component">
  <div class="game-component_button">
    <button class="pre-import">Импорт</button>
    <button class="pre-export">Экспорт</button>
    <button>Начать игру</button>
  </div>
  <h2>
    Общее
  </h2>
  <div class="general-setting d-flex">
    <div class="general-tournament-settings col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Название</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Описание</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
    <div class="buy-in-settings col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Старт</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Коммисия</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Buy-in</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>
  <div class="re-buy-setting d-flex row col-6">
    <button class="pre-check">Re-buy</button>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Сумма</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Коммисия</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Стек</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
  </div>
  <div class="addon-setting d-flex row col-6">
      <button class="pre-uncheck">Addon</button>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Сумма</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Коммисия</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Стек</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
  </div>
</div>